body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/rimt.jpg');
    background-size: cover;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 35%;
}

.header {
    background-color: #333;
    padding: 20px;
    border-radius: 8px 8px 2px 2px;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.login {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login input[type="email"],
.login input[type="password"],
.login input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
    outline: none;
    border-color: #1e1e1e;
}

.login input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background-color: #484747;
}